.message {
    background-color: $message-bg;
    position: relative;

    &_wrapper {
        min-height: 68px;
        max-width: 643px;
        margin: 0 auto;
        padding: 0 38px 0 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        @media screen and (min-width: 400px) {
            justify-content: space-around;
        }

        @media screen and (min-width: 679px) {
            padding: 0;
            min-height: 40px;
        }
    }

    &__item {
        font: 12px/16px $font-primary;

        &_warning {
            font-weight: 700;
            color: $warning;
            position: relative;
            padding-left: 27px;
            order: 1;

            &::before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 22px;
                height: 19px;
                background: url("../../images/warning.png");
            }
        }

        &_ip,
        &_isp,
        &_more {
            font-weight: 400;
        }

        &_ip,
        &_isp {
            color: $grey;
        }

        &_ip {
            order: 3;

            @media screen and (min-width: 679px) {
                order: 2;
            }
        }

        &_isp {
            order: 4;

            @media screen and (min-width: 679px) {
                order: 3;
            }
        }

        &_more {
            color: $white;
            order: 2;

            @media screen and (min-width: 679px) {
                order: 4;
            }
        }
    }

    &__cross {
        content: "";
        position: absolute;
        display: block;
        width: 14px;
        height: 14px;
        background: url("../../images/cross.png");
        top: 15px;
        right: 15px;
        @media screen and (min-width: 679px) {
            top: 13px;
            right: 21px;
        }
    }
}
