$green: #4cb649;
$black: #323642;
$white: #fff;
$grey: #889099;
$light-grey: #ebeced;
$warning: #ff8d00;
$crossed: #F24458;
$message-bg: #22252e;

$btn-bg: linear-gradient(rgba(93, 223, 90, 1), rgba(76, 182, 73, 1));
$offer-bg: linear-gradient(161.3deg, #3D4251 7.63%, #272B35 90.9%);
$offer-btn: linear-gradient(0deg, #FF8D00 3.81%, #FFA400 97.78%);

$font-primary: "Roboto", sans-serif;
